//@import url(varsMixins.scss); 
//переменные и миксины
$maxWidth: 1348px;
$white: #FFFFFF;
$red: #FF665C;
$beige: #E8E8E3;
$green: #369685;
$txt: #333333;
$blackTxt: #121212;
$darkGrey: #94969A;
$grey: #BDBDBD;
$menuWidth: 50px;
$articleWidth: 322px;
//придумать более адаптивную ширину для карточки?
$articleHight: 400px;
$commonSpace: 20px;
$littleSpace: 4px;
$radius: 4px;
$inputHeight: 48px;

@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

@mixin fontManrope {
    font-family: 'Manrope';
    font-style: normal;
    color: $txt;
}
@mixin textBig {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
}
@mixin  textNormal {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}
@mixin hover {
    color: $green;
    cursor: pointer;    
}
@mixin headingH1Font {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
}
@mixin  textForInput {
    color: $darkGrey;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
}
@mixin inputForMain {
    height: $inputHeight;
    width: $articleWidth;
    padding-left: $littleSpace*3;
    display: flex;
    align-items: center;
    border: 1px solid $beige;
    border-radius: $radius;
}
@mixin button {
    background-color: $green;
    padding: $littleSpace*4 $littleSpace*6 $littleSpace*4 $littleSpace*6;
    border: none;
    border-radius: $radius;
    input {
        background-color: $green;
        color: $white;
        border: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Lato;
}

a {
    text-decoration: none;
}

fieldset {
    border: none;
}
legend {
    padding-bottom: $littleSpace*2;
    @include textForInput
}

.container {
    max-width: $maxWidth;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

//стили для header
.header {
    display: flex;
    justify-content: space-between;
    padding: $commonSpace*2;
    align-items: flex-end;
    flex-wrap: wrap;
    &__search{
        display: flex;
        width: $articleWidth;
        border-bottom: 1px solid #D9D9D9;
        align-items: flex-end;
        &--logo{
            padding-right: $littleSpace;
        }
        &--input{
            border: none;
            padding: $littleSpace;
            width: $articleWidth;
        }
    }
    &__profile{
        display: flex;
        align-items: center;
        &--info{
            padding-left: $littleSpace*3;
        }
        &--enter{
            padding-right: $littleSpace*3;
            border-right: 1px solid $txt;
            @include fontManrope
        }
        &--register{
            padding-left: $littleSpace*3;
            @include fontManrope
        }
    }
}

//стили для intro
.intro {
    &__background {
        background-image: url(../img/img_main.png);
        background-repeat: no-repeat;
        background-position: right;
        max-width: $maxWidth;
        min-height: 602px;
        //box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    &__position {
        max-width: calc($maxWidth/2);
        padding-left: 6%;
        padding-top: 173px;
    }
    &__text {
        color: $beige;
        text-align: left;
        &--big {
            padding-bottom: 53px;
            @include textBig
        }
        &--small {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
        }
    }
}

//стили для about

.about {
    padding-top: $commonSpace*2;
    padding-bottom: $commonSpace*3;
    @include center;
    &__heading {
        padding-bottom: $littleSpace*2;
        @include headingH1Font
    }
    &__text {
        width: 60%;
        text-align: center;
        @include textNormal
    }
}

//стили для form
.forms {    
    padding-bottom: $commonSpace*3;
    @include center;
    &__heading {
        @include headingH1Font
    }
    &__enter {
        @include center
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: $blackTxt;
    }
    &__text--forInput {
        @include textForInput
    }
    .enter{
        padding-bottom: $commonSpace*1.5;
        &__login {
            @include inputForMain
        }
        &__password {
            @include inputForMain
        }
    }
    &__register {
        padding-top: $commonSpace*3;
    }
    &__typeForm {
        display: flex;
        justify-content: space-between;
        padding-bottom: $commonSpace*2;
        .typeForm {
            display: flex;
            input {
               margin-right: $littleSpace*3;
               margin-left: $littleSpace*3; 
            }
        }
        .typeCompany {
            display: flex;
            input {
                margin-right: $littleSpace*3;
                margin-left: $littleSpace*3;
            }
        }
    }
    &__infoCompany {
        width: inherit;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: $inputHeight;
        &--column fieldset:not(:last-child){
            padding-bottom: calc($inputHeight/2);
        }
        &--column:not(:last-child) {
            margin-right: $commonSpace*4;
        }
    }
    &__inputForMain {
        @include inputForMain
    }
    &__button {
        @include center;
        &--enter {
            padding-bottom: $commonSpace*3;
            @include button
        }
        &--register {
            @include button
        }
        
    }
}
//стили для main, включая menu
.main {
    display: flex;
}

//заголовок
.pageName {
    display: flex;
    justify-content: space-between;
    padding-top: $commonSpace;
    padding-bottom: $commonSpace;
}
//стили для menu


//стили для карточки
.cart {
    width: $articleWidth;
    height: $articleHight;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 8px;
    &__fil {
        padding-bottom: $commonSpace;
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content:center;
    }
    &__actionsProduct {
        display: flex;
        justify-content: space-between;
    }

}

.footer {
    background-color: $grey;
    padding-top: $commonSpace*4;
    padding-bottom: $commonSpace*7;
    &__links {
        color: $white;
        display: flex;
        justify-content: center;
    }
    &__links:not(:last-child) {
        padding-right: $commonSpace*2;
        border-right: 1px solid $white;
    }
    &__links:not(:first-child) {
        padding-left: $commonSpace*2;
    }
}