@import url(varsMixins.scss); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Lato;
}

a {
    text-decoration: none;
}
a:hover {
    color: $green;
}

.container {
    max-width: $maxWidth;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

//стили для header
.header {
    display: flex;
    justify-content: space-between;
    padding: $commonSpace*2;
    align-items: flex-end;
    flex-wrap: wrap;
    &__search{
        display: flex;
        width: $articleWidth;
        border-bottom: 1px solid #D9D9D9;
        align-items: flex-end;
        &--logo{
            padding-right: $littleSpace;
        }
        &--input{
            border: none;
            padding: $littleSpace;
            width: $articleWidth;
        }
    }
    &__profile{
        display: flex;
        align-items: center;
        &--info{
            padding-left: $littleSpace*3;
        }
        &--enter{
            padding-right: $littleSpace*3;
            border-right: 1px solid $txt;
            @include fontManrope
        }
        &--register{
            padding-left: $littleSpace*3;
            @include fontManrope
        }
    }
}

//стили для intro
.intro {
    &__background {
        background-image: url(../img/img_main.png);
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
        min-height: 602px;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__position {
        max-width: $maxWidth/2;
        padding-left: 6%;
    }
    &__text {
        color: $beige;
        text-align: left;
        &--big {
            padding-bottom: 53px;
            @include textBig
        }
        &--small {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
        }
    }
}

//стили для about

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//стили для main, включая menu
.main {
    display: flex;
}

//заголовок
.pageName {
    display: flex;
    justify-content: space-between;
    padding-top: $commonSpace;
    padding-bottom: $commonSpace;
}
//стили для menu


//стили для карточки
.cart {
    width: $articleWidth;
    height: $articleHight;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 8px;
    &__fil {
        padding-bottom: $commonSpace;
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content:center;
    }
    &__actionsProduct {
        display: flex;
        justify-content: space-between;
    }

}