* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

legend {
  padding-bottom: 8px;
  color: #94969A;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

.container {
  max-width: 1348px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: flex-end;
  flex-wrap: wrap;
}
.header__search {
  display: flex;
  width: 322px;
  border-bottom: 1px solid #D9D9D9;
  align-items: flex-end;
}
.header__search--logo {
  padding-right: 4px;
}
.header__search--input {
  border: none;
  padding: 4px;
  width: 322px;
}
.header__profile {
  display: flex;
  align-items: center;
}
.header__profile--info {
  padding-left: 12px;
}
.header__profile--enter {
  padding-right: 12px;
  border-right: 1px solid #333333;
  font-family: "Manrope";
  font-style: normal;
  color: #333333;
}
.header__profile--register {
  padding-left: 12px;
  font-family: "Manrope";
  font-style: normal;
  color: #333333;
}

.intro__background {
  background-image: url(../img/img_main.png);
  background-repeat: no-repeat;
  background-position: right;
  max-width: 1348px;
  min-height: 602px;
}
.intro__position {
  max-width: 674px;
  padding-left: 6%;
  padding-top: 173px;
}
.intro__text {
  color: #E8E8E3;
  text-align: left;
}
.intro__text--big {
  padding-bottom: 53px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}
.intro__text--small {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.about {
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__heading {
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
}
.about__text {
  width: 60%;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.forms {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forms__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
}
.forms__enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forms__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #121212;
}
.forms__text--forInput {
  color: #94969A;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}
.forms .enter {
  padding-bottom: 30px;
}
.forms .enter__login {
  height: 48px;
  width: 322px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  border: 1px solid #E8E8E3;
  border-radius: 4px;
}
.forms .enter__password {
  height: 48px;
  width: 322px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  border: 1px solid #E8E8E3;
  border-radius: 4px;
}
.forms__register {
  padding-top: 60px;
}
.forms__typeForm {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.forms__typeForm .typeForm {
  display: flex;
}
.forms__typeForm .typeForm input {
  margin-right: 12px;
  margin-left: 12px;
}
.forms__typeForm .typeCompany {
  display: flex;
}
.forms__typeForm .typeCompany input {
  margin-right: 12px;
  margin-left: 12px;
}
.forms__infoCompany {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 48px;
}
.forms__infoCompany--column fieldset:not(:last-child) {
  padding-bottom: 24px;
}
.forms__inputForMain {
  height: 48px;
  width: 322px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  border: 1px solid #E8E8E3;
  border-radius: 4px;
}
.forms__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forms__button--enter {
  padding-bottom: 60px;
  background-color: #369685;
  padding: 16px 24px 16px 24px;
  border: none;
  border-radius: 4px;
}
.forms__button--enter input {
  background-color: #369685;
  color: #FFFFFF;
  border: none;
}
.forms__button--register {
  background-color: #369685;
  padding: 16px 24px 16px 24px;
  border: none;
  border-radius: 4px;
}
.forms__button--register input {
  background-color: #369685;
  color: #FFFFFF;
  border: none;
}

.spacing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main {
  display: flex;
}

.pageName {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart {
  width: 322px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 8px;
}
.cart__fil {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__actionsProduct {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #BDBDBD;
  padding-top: 80px;
  padding-bottom: 140px;
}
.footer__links {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}
.footer__links:not(:last-child) {
  padding-right: 40px;
  border-right: 1px solid #FFFFFF;
}
.footer__links:not(:first-child) {
  padding-left: 40px;
}/*# sourceMappingURL=style.css.map */